.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 50px;
    border-radius: 20px;
    background-color: $color-btn;
    text-decoration: none;
    cursor: pointer;
    @include font($font-main, $font-size--regular, $color-primary);

    @media screen and (min-width: $screen-md) {
        padding: 10px 25px;
    }

    &__subhint {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 70px;
        border-radius: 20px;
        text-decoration: none;
        background-color: transparent;
        border: solid 2px $color-btn;
        cursor: pointer;
        @include font($font-main, $font-size--regular, $color-btn);

        @media screen and (min-width: $screen-sm) {
            margin-top: 25px;
        }

        @media screen and (min-width: $screen-md) {
            padding: 10px 30px;
        }

        &:hover {
            color: rgb(220, 60, 70);
            border: solid 2px rgb(220, 60, 70);
            transition: .6s;
        }

        &:focus {
            outline: none;
        }
    }

    &__submit {
        width: 100%;
        max-width: 280px;

        @media screen and (min-width: $screen-sm) {
            padding: 10px 20px;
        }

    }

    &--sm {
        margin: 0 0 15px;
        padding: 5px 14px;
        border-radius: 15px;
        @include font($font-main, 10px, $color-primary);
        text-transform: uppercase;
    }

}

.btn--hover {
    &:hover {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgb(255, 78, 80);
        transition: .6s;
    }
}

.input {
    display: inline-block;
    padding: 0 15px;
    height: 40px;
    width: 100%;
    max-width: 280px;
    border: 1px solid #999999;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 rgba(238, 238, 238, 0.004);
    transition: padding .4s; /*for animation*/
    @include font($font-secondary, $font-size--regular, $color-secondary);

    &:focus {
        border: 1px solid $color-secondary;
        box-shadow: 0 1px 0 0 rgba(51, 51, 51, 0.004);
        outline: none;
    }

    @media screen and (min-width: $screen-sm) {
        width: 240px;
    }

}

.js-inputError::placeholder {
    color: $color-btn;
}

.js-errorRequest {
    margin-top: 20px;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    max-width: 940px;
    padding: 0 15px;

    @media screen and (min-width: $screen-md) {
        text-align: left;
        padding: 0;
    }

    .col {
        flex: 0 0 100%;
        margin: 15px 0 0;
        max-width: 410px;

        &:first-child {
            margin: 0;
        }

        @media screen and (min-width: $screen-md) {
            margin: 0;
            padding-right: 20px;
            flex: 0 0 28%;

            &:last-child {
                flex: 0 0 16%;
                padding-right: 0;
                text-align: right;
            }
        }

        &__mirror {
            flex: 0 0 auto;

            @media screen and (min-width: $screen-md) {
                flex: 0 0 100%;
            }
        }
    }
}