.reg {
    margin-bottom: 115px;
    font-size: 0;


    &--logIn {
        display: inline-block;
        margin-right: 18px;
        font-size: 0;
    }

    &--singUp {
        display: inline-block;
        padding: 10px 16px;
        border-style: solid;
        border-width: 2px;
        border-color: $color-primary;
        border-radius: 18px;
        font-size: 0;
    }

    &__link {
        display: inline-block;
        font-weight: 700;
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;
        @include font($font-main, $font-size--regular, $color-primary);

        &:hover {
            @include hover($color-hover);
            border-color: $color-hover;
            transition: .6s;
        }

    }

}