.search {
    width: 100%;
    max-width: 410px;
    margin-top: 40px;
    font-size: 0;

    @media screen and (min-width: $screen-md) {
        margin-top: $margin-lg;
    }

    &__field {
        width: 100%;
        padding: 0;

        @media screen and (min-width: $screen-sm) {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }
}

.search-field__left, .search-field__right {
    display: inline-block;
    font-size: 0;
}

.search-field__left {
    width: 100%;
    max-width: 340px;

    @media screen and (min-width: $screen-sm) {
        width: 55%;
    }
}

.search-field__right {
    width: 100%;

    @media screen and (min-width: $screen-sm) {
        width: 38%;
    }
}