.search {
    width: 100%;
    max-width: 410px;
    margin-top: 40px;
    font-size: 0;

    @media screen and (min-width: $screen-md) {
        margin-top: $margin-lg;
    }

    &__field {
        width: 100%;
        padding: 0;
    }
}

.search-field__left, .search-field__right {
    display: inline-block;
}

.search-field__left {
    width: 100%;
    max-width: 340px;

    @media screen and (min-width: $screen-sm) {
        width: 55%;
        text-align: left;
    }
}

.search-field__right {
    width: 100%;

    @media screen and (min-width: $screen-sm) {
        width: 38%;
        margin-top: 0;
        text-align: right;
    }
}